<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhj.Dao.TEmpMapper">
  <resultMap id="BaseResultMap" type="com.zhj.bean.TEmp">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="salary" jdbcType="DOUBLE" property="salary" />
    <result column="age" jdbcType="INTEGER" property="age" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_emp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhj.bean.TEmp">
    insert into t_emp (id, name, path, 
      salary, age)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{salary,jdbcType=DOUBLE}, #{age,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhj.bean.TEmp">
    update t_emp
    set name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=DOUBLE},
      age = #{age,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, path, salary, age
    from t_emp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, path, salary, age
    from t_emp
  </select>
</mapper>